<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 footer-info">
                    <h3>Zigna</h3>
                    <p>{% t footer.text %}</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/profile.php?id=61585954088992" class="facebook"
                            target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/zignalatam" class="instagram" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/zigna-app/" class="linkedin" target="_blank"><i
                                class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 offset-lg-2 footer-links">
                    <h4>{% t footer.menu %}</h4>
                    <ul>
                        <li><a href="{% tl home %}">{% t nav.home %}</a></li>
                        <li><a href="#features">{% t nav.features %}</a></li>
                        <li><a href="#how-it-works">{% t nav.how_it_works %}</a></li>
                        <li><a href="#contact">{% t nav.contact %}</a></li>
                        <li><a href="https://www.zigna.app">{% t footer.app %}</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Zigna</strong>. {% t footer.copyright %}
        </div>
    </div>
</footer><!-- End Footer -->