
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
          <div class="container">
              <div class="row">

                  <div class="col-lg-8 footer-info">
                      <h3>Zigna</h3>
                      <p>Conectando señales exitosas de compra y venta de analistas de renombre. </p>
                  </div>

                  <div class="col-lg-2 offset-lg-2 footer-links">
                      <h4>Menu</h4>
                      <ul>
                          <li><a href="/">Inicio</a></li>
                          <li><a href="#about">Acerca de Zigna</a></li>
                          <li><a href="#contact">Contáctanos</a></li>
                      </ul>
                  </div>

              </div>

          </div>
      </div>
      </div>

      <div class="container">
          <div class="copyright">
              &copy; Copyright <strong>Zigna</strong>. Todos los derechos reservados.
          </div>
      </div>
  </footer><!-- End Footer -->