<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 footer-info">
                    <h3>Zigna</h3>
                    <p>{% t footer.text %}</p>
                </div>

                <div class="col-lg-2 offset-lg-2 footer-links">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="{% tl home %}">{% t nav.home %}</a></li>
                        <li><a href="#features">{% t nav.features %}</a></li>
                        <li><a href="#how-it-works">{% t nav.how_it_works %}</a></li>
                        <li><a href="#contact">{% t nav.contact %}</a></li>
                        <li><a href="https://www.zigna.app">App</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Zigna</strong>. {% t footer.copyright %}
        </div>
    </div>
</footer><!-- End Footer -->