  <!-- icons -->
  <link rel="shortcut icon" type="image/x-icon" href="/icon.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icon_144x144.png" />
  <link rel="apple-touch-icon" sizes="192x192" href="/icon_192x192.png" />
  <link rel="icon" type="image/png" sizes="144x144" href="/icon_144x144.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/icon_192x192.png" />
  <link rel="icon" type="image/png" sizes="256x256" href="/icon_256x256.png" />
  <link rel="icon" type="image/png" sizes="1024x1024" href="/icon_1024x1024.png" />
  <meta name="msapplication-TileImage" content="/icon_192x192.png" />
  <meta name="msapplication-TileColor" content="{{ site.color_primary }}" />
  <meta name="theme-color" content="{{ site.color_primary }}" />

  <meta http-equiv="Content-Type" content='text/html; charset=utf-8' />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="zigna, usdclp, btcusd, cryptos, alerts, market, sms, notifications">


  <!-- Facebook Open Graph -->
  <meta property="og:locale" content="{{ page.lang | default: site.lang | default: "es" }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} - {{ site.name }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:site_name" content="{{ site.name }}">
  
  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }} - {{ site.name }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:image" content="https://storage.googleapis.com/neahtid-web.appspot.com/1/elementor/thumbs/neahtid-logo-320x132-nr45ccquchf9ycd48dm9sraqmlftewtc3asjkdf2x0.png">
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  
  <!-- styles -->
  <link href="assets/img/favicon.png" rel="icon">

  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">