<!-- icons -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl_root }}/icon.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl_root }}/icon_144x144.png" />
<link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl_root }}/icon_192x192.png" />
<link rel="icon" type="image/png" sizes="144x144" href="{{ site.baseurl_root }}/icon_144x144.png" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl_root }}/icon_192x192.png" />
<link rel="icon" type="image/png" sizes="256x256" href="{{ site.baseurl_root }}/icon_256x256.png" />
<link rel="icon" type="image/png" sizes="1024x1024" href="{{ site.baseurl_root }}/icon_1024x1024.png" />
<meta name="msapplication-TileImage" content="{{ site.baseurl_root }}/icon_192x192.png" />
<meta name="msapplication-TileColor" content="{{ site.color_primary }}" />
<meta name="theme-color" content="{{ site.color_primary }}" />

<meta http-equiv="Content-Type" content='text/html; charset=utf-8' />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="HandheldFriendly" content="true" />
<meta name="description" content="{% t hero.subtitle %}">
<meta name="author" content="Zigna">
<meta name="keywords"
  content="zigna, trading tutor, ai trading, market monitor, trading companion, stock market, crypto trading, financial intelligence">


<!-- Facebook Open Graph -->
<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Zigna - {% t hero.title %}">
<meta property="og:description" content="{% t hero.subtitle %}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:site_name" content="Zigna">

<!-- twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Zigna - {% t hero.title %}">
<meta name="twitter:description" content="{% t hero.subtitle %}">
<meta name="twitter:site" content="@zigna">

<!-- styles -->
<link href="{{ site.baseurl_root }}/assets/img/favicon.png" rel="icon">

<link href="{{ site.baseurl_root }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl_root }}/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ site.baseurl_root }}/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="{{ site.baseurl_root }}/assets/vendor/aos/aos.css" rel="stylesheet">

<link href="{{ site.baseurl_root }}/assets/css/style.css" rel="stylesheet">