<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container">

        <div class="logo float-left">
            <a href="/"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="/">Inicio</a></li>
                <li><a href="#about">Acerca de Zigna</a></li>
                <li><a href="#contact">Contáctanos</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->