<!doctype html>
<html lang='{{ page.lang | default: site.lang | default: "es" }}'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if page.title -%}
    <title>{{ page.title }} - {{ site.name }}</title>
    {%- else -%}
    <title>Zigna</title>
    {%- endif -%}


    {%- include google-analytics.html -%}

    {%- include head.html -%}

</head>

<body>

    {%- include header.html -%}

    {{ content }}

    {%- include footer.html -%}

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- scripts -->
    <script src="{{ site.baseurl_root }}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.baseurl_root }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl_root }}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="{{ site.baseurl_root }}/assets/vendor/php-email-form/validate.js"></script>
    <script src="{{ site.baseurl_root }}/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="{{ site.baseurl_root }}/assets/vendor/aos/aos.js"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{{ site.baseurl_root }}/assets/js/main.js"></script>
</body>

</html>